<app-header></app-header>
<div>
  <section class="section_1">
    <div class="section-container">
      <img class="project-image" src="/assets/portfolio/content_1.png" alt="">
      <div class="project-text">
        <h2 class="project-title">Admire</h2>
        <h3 class="project-description">Вы всегда найдете куда Вам сходить и чем заняться! Один из наших первых внутренних проектов компании.</h3>
      </div>
    </div>
  </section>
  <section class="section_2">
    <div class="section-container">
      <img class="project-image" src="/assets/portfolio/content_2.png" alt="">
      <div class="project-text">
        <h2 class="project-title">Fur Chins</h2>
        <h3 class="project-description">Меховые шиншиллы высочайшего качества. Лучший интернет магазин элитных шинлилл.</h3>
      </div>
    </div>
  </section>
  <section class="section_3">
    <div class="section-container">
      <img class="project-image" src="/assets/portfolio/content_3.png" alt="">
      <div class="project-text">
        <h2 class="project-title">Diner Near</h2>
        <h3 class="project-description">Найдите где перекусить по вкусу или теме для общения.</h3>
      </div>
    </div>
  </section>
  <section class="section_4">
    <div class="section-container">
      <img class="project-image" src="/assets/portfolio/content_4.png" alt="">
      <div class="project-text">
        <h2 class="project-title">U-Memo</h2>
        <h3 class="project-description">Сервис замток и напоминаний и синхронизацией между сайтом и мобильным приложением.</h3>
      </div>
    </div>
  </section>
</div>
