<header>
  <nav class="top-nav">
    <h3 class="title">Admire</h3>
    <a routerLink="" mat-button class="send-message">Оставить заявку</a>
  </nav>
  <nav class="left-fixed-nav">
    <a routerLink="" mat-button class="button-about">
      <img src="/assets/nav/bottom_nav_about.png" alt="About">
    </a>
    <br/>
    <a routerLink="/what-dev" mat-button>
      <img src="/assets/nav/bottom_nav_profile.svg" alt="Profile">
    </a>
    <br/>
    <a routerLink="" mat-button>
      <img src="/assets/nav/bottom_nav_portfolio.svg" alt="Portfolio">
    </a>
    <br/>
    <a routerLink="" mat-button>
      <img src="/assets/nav/bottom_nav_staff.svg" alt="Staff">
    </a>
    <br/>
    <a routerLink="" mat-button>
      <img src="/assets/nav/bottom_nav_blog.svg" alt="Blog">
    </a>
  </nav>
</header>
