main {
    background: #0F0B35;
    padding: 60px;
}
.main-container {
    background: url("/assets/staff/main_background.png") no-repeat center / cover #E3E3E3;
    box-shadow: inset 0 4px 40px rgba(0, 0, 0, 0.49);
    border-radius: 24px;
    position: relative;
    padding-top: 40vw;
    overflow: hidden;
}

.header-container {
  position: relative;
  height: 16vw;

  rect {
    transition: all .3s;
  }

  .header-background {
    background: url("/assets/staff/header_background.png") no-repeat center / cover;
    height: 30vw;
    width: 45vw;
    position: absolute;
    top: -25vw;
    right: 0;
  }

  .click-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .circle-background {
    position: absolute;
    left: 35vw;
    top: -27vw;
    border-radius: 0 100% 100% 0/0 50% 50% 0;
    height: 54vw;
    width: 27vw;
    background: #D4D4D4;
  }

  .header-circle {
    background: url("/assets/staff/header_circle.png") no-repeat center / cover;
    height: 51.3vw;
    width: 50vw;
    position: absolute;
    top: -25vw;
    left: 10vw;
  }

  .staff-menu-container {
    position: relative;
    box-shadow: 1px 1px 8px 1px black;

    .menu-item {
      position: absolute;
      top: 50%;
      width: 10vw;
      transform: translate(-50%, -50%);
    }

    .vertical-divider {
      height: 80%;
      position: absolute;
      top: 10%;
      width: 4px;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.6);
      transform: translateX(-50%);
    }
  }
}

.staff-list-container {
    padding: 40px 0;

    .staff-item {
        margin: 40px 0;
        position: relative;
    }
}
