<app-header></app-header>
<main>
  <div class="main-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-5">
          <p class="description">
            Admire — команда креативных молодых разработчиков, занимающихся разработкой инновационных программных продуктов, интеграцией ПО, адаптацией корпоративных решений, продвижению и повышением эффективности вашего бизнеса. Мы специализируемся на создании комплексных и веб-решений, разработке нативных и кроссплатформенных мобильных приложений под iOS & Android, UI/UX дизайне.
          </p>
        </div>
        <div class="col-4 city-in-container"></div>
        <div class="col-3">
          <span class="vertical-title">
            <span>A</span>
            <span>d</span>
            <span>m</span>
            <span>i</span>
            <span>r</span>
            <span>e</span>
          </span>
        </div>
      </div>
    </div>

    <div class="question-title">
      Что такое<br/>Admire?
    </div>
    <div class="about-circle">
      Качество начинается здесь!
    </div>
  </div>
</main>
