@keyframes create-title {
  from {
    padding-top: 80px;
    opacity: 0;
  }
  to {
    padding-top: 0;
    opacity: 1;
  }
}

header {
  background: url("/assets/main/city_head.png") no-repeat center / cover;
  height: 100%;
  position: relative;
}
.nav-bar {
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;

  a, button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.03em;
    display: inline-block;
    height: 38px;
    text-shadow: 1px 1px 3px black;

    color: #FFFFFF;
    margin-right: 20px;
  }
}
.title-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.title-text-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;

  animation: create-title 1.5s;
}
.main-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.3em;
  font-size: 7em;
  color: #FFFFFF;
  display: block;
  margin-bottom: 24px;
  text-shadow: 1px 1px 4px black;
}
.sub-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.8em;
  color: #FFFFFF;
  display: block;
  margin: 0;
  text-shadow: 1px 1px 4px black;
}
