<header>
  <nav class="nav-bar">
    <a routerLink="/" mat-button>Оставить заявку</a>
    <a href="/events" mat-button>Admire Social Project</a>
  </nav>

  <div class="title-container">
    <div class="title-text-container">
      <h1 class="main-title display-3">Admire</h1>
      <h2 class="sub-title display-4">Dev Studio</h2>
    </div>
  </div>

  <div class="bottom-nav-container">
    <div class="button-container">
      <a routerLink="/what-dev" mat-button>
        <img src="/assets/nav/bottom_nav_profile.svg" alt="Profile">
      </a>
    </div>
    <div class="button-container">
      <a routerLink="" mat-button>
        <img src="/assets/nav/bottom_nav_portfolio.svg" alt="Portfolio">
      </a>
    </div>
    <div class="button-container">
      <a routerLink="/about" mat-button class="button-about">
        <img src="/assets/nav/bottom_nav_about.png" alt="About">
      </a>
    </div>
    <div class="button-container">
      <a routerLink="" mat-button>
        <img src="/assets/nav/bottom_nav_staff.svg" alt="Staff">
      </a>
    </div>
    <div class="button-container">
      <a routerLink="" mat-button>
        <img src="/assets/nav/bottom_nav_blog.svg" alt="Blog">
      </a>
    </div>
  </div>
</header>
