/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.question-title {
  background: #E3E3E3;
  border: 12px solid #A0A0A0;
  box-shadow: 0 29px 14px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.185em;
  color: #565656;
  position: absolute;
  top: 80px;
  left: 60px;
  padding: 8px;
}
.vertical-title {
  display: inline-block;
}
.vertical-title span {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 7vw;
  text-align: center;
  letter-spacing: 0.28em;
  color: #201258;
  display: block;
}
